@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-suse;
}

.hidden {
  display: none;
 
}

.studySection {
  display: flex;
  gap:450px;
}

.nav-button{
  color:white;
  border-radius: 20px;
}

.nav-button:hover {
  background-color: #021e384f;
}

.nav-button.active {
  transition: ease-in 0.5s;
  background-color: #021e38;
}

#multipleDecks {
  display: flex;
  flex-direction: column;
}

#studyCards {
  display: none;
}

@media (min-width: 768px) {
  body {
      height: auto;
  }
}

@media (min-width: 1480px) {
  footer {
    height: 46px !important;
  }
}

@media (max-width: 1480px) {
  body {
      height: auto;
  }

  .studySection {
    gap: 75px;
  }

  #timerBtns {
    margin-top: 80px;
  }

  #sideBar {
    width: 100% !important;
    padding: 1rem;
    height: 723px;
    width:157px;
    min-width: 157px;
  }

  #IndexdLogo {
    width: 157px !important;
    height: 180px !important;
  }


}

@media (max-width: 767px) {
  body {
      display: block;
      height: auto;
      min-width: 600px;
  }

  .indexCards {
    height: 500px;
    width: 400px;
  }

  .studySection {
    gap: 20px;
  }

  #timerBtns {
    margin-top: 80px;
  }

  #welcome {
    min-width: 320px;
  }

  #sideBar {
    width: 100% !important;
    padding: 1rem;
    height: 723px;
  }

  #IndexdLogo {
    width: 157px !important;
    height: 180px !important;
  }

  #createDeck, input {
    width: 300px;
  }

  #deckModal {
    min-width: 600px;
  }
}