@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  /* display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  padding: 20px;
  margin-top: 100px; 
  position: relative;
 
  border: 1px solid black; */
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
  width: 100%;
  height: 160px;
}
#quote{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  top: 120px;
  left: 60px;
  position: absolute;
  
}
.button{
  border: 1px solid #ddd;
  padding: 3px;
  width: 100px;
  margin-bottom: 5px; 
  top: 100px;
  position: absolute;
  right: 0;
  font-size: 10px;
}
#timerButton {
    border: 1px solid #ddd;
    padding: 3px;
    width: 100px;
    margin-bottom: 5px; 
    top: 80px;
   position: absolute;
   right: 0;
   font-size: 10px;
    
  }
  #logo{
    top: 10px;
    width: 130px;
    left: 50px;
    position: absolute;
  }
 
  .resetButton{
    border: 1px solid #ddd;
    padding: 3px;
    width: 100px;
    margin-bottom: 5px; 
    top: 120px;
    position: absolute;
    right: 0;
    font-size: 10px;
  }
#countDownBox {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid #ddd;
  padding: 15px;
  
  background-color: white;
} 

#sideBar, h2 {
    font-size: 20px;
    color: #91b7a9;
    font-weight: bolder;
  }
  
  #sideBar {
    height: 100vh;
    width:10%;
    background-color: #024b89;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  
  }
  
  .nav-button:hover {
      background-color: #021e38;
      transition: ease-in 0.5s;
  }
  
  #modalBtn {
    background-color: coral;
    color:aliceblue;
    border:solid rgb(248, 9, 9) 1px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    
  }
  
  #modalBtn:hover {
    background-color: rgb(248, 9, 9);
  }
  
  .modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 150%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #024a8945;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
    display: flex;
    flex-direction: column;
    height: 350px; 
    justify-content: space-between; 
    border-radius: 20px;
  }
  
  
  .deckForm{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    line-height: 35px;
    
  }
  
  .deckform, input{
    width:400px ;
    color:#000;
  }
  
  
  #completeBtn, #addMoreBtn{ 
    height:50px;
    width:50px;
    margin-top: 20px;
    margin-left: 180px;
  }
  
  
  
  #completeBtn:hover{
    transition: 1.5s;
    height: 55px;
    width:55px;
  }
  
  #addMoreBtn:hover{
    transition: 1.5s;
    height: 55px;
    width:55px;
  }
  
  #closeBtn {
    color:#ccc;
    float: right;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 40px;
  }
  
  #closeBtn:hover,.closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor:pointer;
  }

 @media screen and (max-width: 768) {
  .container{
    flex-direction: column;
  }
 }