@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-suse;
}

.hidden {
  display: none;
 
}

.studySection {
  display: flex;
  gap:450px;
}

.nav-button{
  color:white;
  border-radius: 20px;
}

.nav-button:hover {
  background-color: #021e384f;
}

.nav-button.active {
  transition: ease-in 0.5s;
  background-color: #021e38;
}

#studyCards {
  display: none;
}

@media (min-width: 768px) {
  body {
      height: auto;
  }

  #indexdLogo {
    width: 18rem;
  }
}

@media (max-width: 767px) {
  body {
      display: block;
      height: auto;
      min-width: 600px;
  }

  .indexCards {
    height: 500px;
    width: 400px;
  }

  .studySection {
    gap: 20px;
  }

  #sideBar {
    width: 100% !important;
    padding: 1rem;
  }

  #indexdLogo {
    width: 25%;

  }

  #createDeck, input {
    width: 300px;
  }

  #deckModal {
    min-width: 600px;
  }
}